<form>
    <div class="mb-3">
        <label for="title" class="form-label text-primary">Tâche</label>
        <input type="text" class="form-control" id="title" placeholder="tâche à réaliser">
    </div>
    <div class="mb-3">
        <label for="details" class="form-label text-primary" name="details">Descriptif</label>
        <textarea class="form-control" id="details" rows="3"></textarea>
    </div> 
    <div class="col-12">
    <button class="btn btn-primary" type="submit" id="btn-submit">Ajouter cette tâche</button>
  </div>     
</form>
